* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --main-color: #AE2012;
    --secondary-color: #E9D8A6;
    --third-color: #005F73;
    --fourth-color: #EE9B00;
}


/*/////////// header ///////////*/

header {
    background-color: var(--main-color);
    border-bottom: 5px var(--fourth-color) solid;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    color: var(--secondary-color);
    text-align: center;
    width: 500px;
    margin: auto;
}

/*/////////// body ///////////*/

body {
    background-color: var(--secondary-color);
}

button {
    transition: color 0.1s;
    background-color: var(--main-color);
    margin: auto;
    box-shadow: 3px 3px var(--third-color);
    width: 6em;
    color: var(--secondary-color);
}

button:hover {
    color: var(--third-color)
}

h2 {
    text-align: center;
}

#rules {
    padding: 10px;
    margin: 10px auto 0px auto;
    width: 500px;
    background-color: var(--third-color);
    color: var(--fourth-color);
    border-radius: 10px;
    border: 3px var(--main-color) solid;
}

/*/////////// game screen ///////////*/

.gameScreen {
    border-radius: 10px;
    border: 5px var(--main-color) solid;
    margin: 2em auto;
    width: 600px;
    background-color: var(--third-color);
    padding: 20px 0px;
}

.buttons {
    margin: 3em auto auto auto;
    width: 500px;
    display: flex;
    align-content: space-between;
}

.guessingLine {
    margin: 1em auto;
    background-color: var(--main-color);
    border-radius: 10px;
    border: 3px var(--secondary-color) solid;
    width: 500px;
    display: flex;
    align-content: space-between;
}

.guessingButton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    margin: auto;
    border: 3px var(--third-color) solid;
    box-shadow: 3px 3px var(--third-color);
}

.guessingButton:hover {
    transition: opacity 0.3s;
    opacity: 0.7;
}

.hintSquare {
    background-color: var(--main-color);
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border-left: 3px var(--secondary-color) solid;
}

.hintButton {
    background-color: var(--secondary-color);
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 100%;
    border: 3px var(--third-color) solid;
    box-shadow: 2px 2px var(--third-color);
}