* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --main-color: #ae2012;
  --secondary-color: #e9d8a6;
  --third-color: #005f73;
  --fourth-color: #ee9b00;
}

:root {
  width: 100vw;
}

/*/////////// header ///////////*/

header {
  background-color: var(--main-color);
  border-bottom: 5px var(--fourth-color) solid;
  border-left: 5px var(--fourth-color) solid;
  border-right: 5px var(--fourth-color) solid;
  width: 75vw;
  height: auto;
  margin: 0px auto;
  border-radius: 0 0 10px 10px;
}

h1 {
  font-size: calc(70px + 1vw);
  color: var(--secondary-color);
  text-align: center;
  width: 75vw;
  margin: auto;
}

/*/////////// body ///////////*/

body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

button {
  border-color: var(--third-color);
  border-radius: 5px;
  transition: color 0.1s;
  background-color: var(--main-color);
  margin: 1vh 10vw;
  box-shadow: 3px 3px var(--third-color);
  width: 20vw;
  height: auto;
  min-height: 3rem;
  color: var(--secondary-color);
  font-size: calc(1rem + 1vw);
}

button:hover {
  color: var(--third-color);
}

.buttons {
  margin: calc(2em + 2vw) auto calc(2em + 2vw) auto;
  width: 70vw;
  display: flex;
  align-content: space-between;
}

h2 {
  text-align: center;
}

#rules {
  padding: 1.5rem;
  margin: 1.5rem auto 0px auto;
  width: 70vw;
  background-color: var(--third-color);
  color: var(--fourth-color);
  border-radius: 10px;
  border: 3px var(--main-color) solid;
  font-size: calc(1rem + 1vw);
}

/*/////////// game screen ///////////*/

.gameScreen {
  border-radius: 10px;
  border: 5px var(--main-color) solid;
  margin: 2em auto;
  background-color: var(--third-color);
  padding: 1.5rem 0px;
  width: 70vw;
}

.guessingLine {
  margin: 1em auto;
  background-color: var(--main-color);
  border-radius: 10px;
  border: 3px var(--secondary-color) solid;
  width: 95%;
  display: flex;
  align-content: space-between;
}

.submitButton {
  width: 10vw;
  height: 75%;
  font-size: calc(.5rem + 1vw);
  margin: auto;
}

.guessingButton {
  width: calc(3rem + 1.5vw);
  height: calc(3rem + 1.5vw);
  border-radius: 100%;
  background-color: var(--secondary-color);
  margin: auto;
  border: 3px var(--third-color) solid;
  box-shadow: 3px 3px var(--third-color);
}

.guessingButton:hover {
  transition: opacity 0.3s;
  opacity: 0.7;
}

.hintSquare {
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: calc(3rem + 2vw);
  height: calc(3rem + 2vw);
  border-radius: 10px;
  border-left: 3px var(--secondary-color) solid;
}

.hintButton {
  justify-self: center;
  align-self: center;
  background-color: var(--secondary-color);
  width: calc(.8rem + 1vw);
  height: calc(.8rem + 1vw);
  margin: 5px;
  border-radius: 100%;
  border: 3px var(--third-color) solid;
  box-shadow: 2px 2px var(--third-color);
}


@media screen and (max-width: 600px) {

  body {
    width: 100vw;
    margin: auto;
  }

  button {
    font-size: calc(.7rem + 1vw);
  }

  header {
    width: 100vw;
    height: 8vh;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    width: 100%;
    font-size: calc(14vw)
  }

  button {
    width: 30vw;
    height: 5vh;
    min-height: 30px;
    font-size: calc(1em + 1vw);
  }

  .buttons {
    width: 100%;
  }

  #rules {
    margin: 2em auto;
    padding: 1.5rem 0px;
    width: 90%;
  }

  .gameScreen {
    margin: 2em auto;
    padding: 1.5rem 0px;
    width: 90%;
  }
  
  .guessingLine {
    width: 95%;
    align-content: space-around;
  }
  
  .guessingButton {
    width: calc(1rem + 5vw);
    height: calc(1rem + 5vw);
  }
  
  .hintSquare {
    width: 4rem;
    height: 4rem;
  }
  
  .hintButton {
    width: 1rem;
    height: 1rem;
    margin: .2rem;
    align-self: center;
    justify-self: center;
  }

  .submitButton {
    width: 20vw;
    height: 4vh;
    font-size: calc(1em + 2vw);
  }

}