* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    color: white;
    text-align: center;
    border: 10px white double;
    width: 500px;
    margin: auto;
}

h2 {
    text-align: center;
}

.gameScreen {
    padding: 20px 0px;
}

.buttons {
    margin: 50px auto auto auto;
    width: 500px;
    display: flex;
    align-content: space-between;
}

.newGame {
    margin: auto;
    box-shadow: 3px 3px grey;
    width: 80px;
}

.info {
    margin: auto;
    box-shadow: 3px 3px grey;
    width: 80px;
}

.submitButton {
    width: 80px;
    margin: auto;
    box-shadow: 1px 1px 1px grey;
}

.guessingLine {
    margin: auto;
    background-color: black;
    border: 3px white solid;
    width: 500px;
    display: flex;
    align-content: space-between;
}

.guessingButton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: grey;
    margin: auto;
    border: 3px white solid;
}

.hintSquare {
    background-color: black;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 60px;
    height: 60px;
    border-left: 3px white solid;
}

.hintButton {
    background-color: grey;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 100%;
    border: 3px white solid;
}

#rules {
    padding: 10px;
    margin: 10px auto 0px auto;
    width: 500px;
    background-color: grey;
    color: black;
    border: 3px white solid;
}